files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: WSGIApplicationGroup %{GLOBAL}

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: flaskr.app
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: flaskr/app
    FLASK_ENV: staging
    APP_NAME: codesquad-blacklist-api
    SECRET_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbnZpcm9ubWVudCI6InN0YWdlIiwiYXBwbGljYXRpb24iOiJjb2Rlc3F1YWQtYmxhY2tsaXN0LWFwaSJ9.Vf5NdeAnsugKaCGQK1knzsnjyzogPdZ8gBXGoUvFAms
    JWT_SECRET_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbnZpcm9ubWVudCI6InN0YWdlIiwiYXBwbGljYXRpb24iOiJjb2Rlc3F1YWQtYmxhY2tsaXN0LWFwaSJ9.Vf5NdeAnsugKaCGQK1knzsnjyzogPdZ8gBXGoUvFAms
    DATA_BASE_URI: postgresql://postgres:postgres@awseb-e-wrafi3ifvi-stack-awsebrdsdatabase-fhibakxlmimz:5432/ebdb